body {
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-family: "Anton";
    font-size: 230pt;
    overflow-x: hidden;
}

.title {
    color: black;
    text-decoration: none;
    position: fixed;
    left: 0px;
    top: 8px;
    display: inline-block;
    letter-spacing: -5px;
    line-height: 275px;
    transition: all 0.4s ease;
}

.title:hover {
    transform: scaleX(1.5) translateX(67px);
    color: white;
    text-shadow:
    -1.5px -1.5px 0 black,  
    1.5px -1.5px 0 black,
    -1.5px  1.5px 0 black,
    1.5px  1.5px 0 black; 
}



/* canvas {
    pointer-events: none;
    position: fixed;
    z-index: -1;
    top: 140px;
    left: 29%;
    transform: translate(-50%, -50%);
    transition: transform 0.8s ease;
} */

#cubeCanvas {
    pointer-events: none;
    position: fixed;
    z-index: -1;
    top: 140px;
    left: 29%;
    transform: translate(-50%, -50%);
    transition: transform 0.8s ease;
}

#gltfCanvas {
    position: fixed;
    z-index: -2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Ensure no transitions affect the positioning of the GLTF canvas */
}

